[defaults]
# 1. Point to your inventory file automatically
inventory = ./inventory.ini

# 2. Set the default SSH user for Ubuntu EC2 instances
# remote_user = ec2-user

# 3. Path to the private key downloaded from AWS to authenticate your session
private_key_file = /home/ec2-user/ansible/cloudstudent.pem

# 4. Disable the interactive host key checking prompt (yes/no) when connecting to new EC2 instances
host_key_checking = False

# 5. Keep your terminal neat by hiding skipped tasks when running the playbook
display_skipped_hosts = False

[privilege_escalation]
# Automatically elevate to sudo privileges for tasks that require root execution (become: true)
become = True
become_method = sudo
become_user = root